@tailwind base;
@tailwind components;
@tailwind utilities;

.login__container {
  background: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover; /* This will cover the entire container */
  background-position: center; /* This will center the image */
  background-repeat: no-repeat;
}

.rdrDefinedRangesWrapper {
  display: none;
}
